parameters:
    level: 8
    ignoreErrors:
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixtures/*
    reportUnmatchedIgnoredErrors: false
# https://github.com/phpstan/phpstan-strict-rules
    strictRules:
        allRules: true
